/* common style  */
body{

}
/* Navber style  */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;   
}
.logo{
    color: black;
    font-size: 24px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
}